<configuration>
	<appSettings>
		<add key="base_url" value="https://www.saucedemo.com/"/>
		<add key="userpage_url" value="https://www.saucedemo.com/inventory.html"/>
		<add key="item0page_url" value="https://www.saucedemo.com/inventory-item.html?id=0"/>
		<add key="cartpage_url" value="https://www.saucedemo.com/cart.html"/>
		<add key="checkoutpage_url" value="https://www.saucedemo.com/checkout-step-one.html"/>
		<add key="confirmorderpage_url" value="https://www.saucedemo.com/checkout-step-two.html"/>
		<add key="completecheckoutpage_url" value="https://www.saucedemo.com/checkout-complete.html"/>
	</appSettings>
</configuration>
